/* Base */

body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: #0f172a; /* deep navy */
  color: #e6f1ff;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background: #131c31; /* card navy */
  padding: 20px;
  border-right: 1px solid #1f4068;
}

.sidebar h2 {
  color: #2fd3e2;
  margin-bottom: 20px;
}

/* Lesson links */
.sidebar a {
  display: block;
  padding: 12px;
  margin: 10px 0;
  text-decoration: none;
  color: #ccd6f6;
  background: #1b2a4a;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}

/* Hover effect */
.sidebar a:hover {
  background: #2fd3e2;
  color: #0b1a2f;
  transform: translateX(5px);
}

/* Active lesson */
.sidebar a.active {
  background: #2fd3e2;
  color: #0b1a2f;
  font-weight: bold;
}

/* Tick mark */
.completed::after {
  content: "✔";
  position: absolute;
  right: 12px;
  color: #2fd3e2;
  font-weight: bold;
}

/* Content */
.content {
  padding: 40px;
  overflow-y: auto;
}

/* Headings */
h1 {
  color: #2fd3e2;
  font-size: 32px;
}

h3 {
  color: #71eaf5;
  margin-top: 20px;
}

/* Paragraph */
p {
  line-height: 1.7;
  color: #cbd5e1;
}

/* Code box */
.code-box {
  background: #020c1b;
  padding: 12px;
  border-radius: 8px;
  color: #64ffda;
  margin: 15px 0;
  font-family: monospace;
  border-left: 3px solid #2fd3e2;
}

/* Editor */
textarea {
  width: 100%;
  height: 160px;
  background: #020c1b;
  color: #64ffda;
  border: 1px solid #1f4068;
  padding: 12px;
  margin-top: 10px;
  font-family: monospace;
  border-radius: 10px;
}

/* Output */
iframe {
  width: 100%;
  height: 160px;
  background: white;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
}

/* Buttons */
button {
  margin-top: 12px;
  padding: 10px 16px;
  background: #2fd3e2;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background: #1fbac7;
  transform: scale(1.05);
}

/* Divider */
hr {
  margin: 25px 0;
  border: 0.5px solid #1f4068;
}


 /*footer*/
        footer >div{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            background-color: #1e293b;
            color: #cbd5e1;
            padding: 40px 20px;
            width: 100%;
        

        }
        footer .footercontent {
            max-width: 300px;
            
        }
        footer .footercontent h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #ffffff;
            
        }
        footer .footercontent p {
            font-size: 14px;
            margin-bottom: 20px;
            color: #ffffff;
        }
        footer .footercontent ul {
            list-style: none;
            padding: 0;
        }
        footer .footercontent ul li {
            margin-bottom: 10px;
        }
        footer .quick-links p {
            font-size: 18px;
            margin-bottom: 10px;
            color: #ffffff;
        }
        footer .quick-links ul {
            list-style: none;
            padding: 0;
        }
        footer .quick-links ul li {
            margin-bottom: 10px;
        }
        footer .quick-links ul li a {
            text-decoration: none;
            color: #cbd5e1;
            font-size: 16px;
        }
        footer .quick-links ul li a:hover {
            color: #22d2ee;
            transition: all 0.3s ease;
        }
        footer .courses-footer p {
            font-size: 18px;
            margin-bottom: 10px;
            color: #ffffff;
        }
        footer .courses-footer ul {
            list-style: none;
            padding: 0;
        }
        footer .courses-footer ul li {
            margin-bottom: 10px;
        }